@import "tailwindcss";


@theme {
  --color-primary-01: #14b8a6; 
  --color-primary-02: #0d9488; 
  --color-primary-03: #5eead4; 
    --color-primary-04: #f0fdfa; 
     --color-primary-05: ##134e4a; 

  --breakpoint-3xl: 1920px;
}




